<h1> Here are all the Gifs by Category! </h1>
<% @sorted_hash.sort.map do |category, gif| %>
<%=category %>
<%=image_tag(gif.image_path, size: "300x400", id: "image_#{gif.id}") %>
<p class= "favorite_btn"><%= button_to "Favorite", :action => "create", :controller => "favorite_gifs", params: { gif_id: gif.id }%></p>
<% end %>
