<h1> Welcome to Gif Generator</h1>
  <h4>Tired of seeing a the perfect GIF, and then you go to find it and it is gone? Sign up for an account today, and be able to save your favorite gifs forever! </h4>


<%= link_to "Create Account", new_user_path %>
<%= link_to "Log In", login_path %>
