<h1> Here are you favorite Gifs! </h1>
<% @gifs.each do |gif| %>
<%=image_tag(gif.image_path, size: "300x400", id: "image_#{gif.id}") %>
<%= link_to "unfavorite", unfavorite_path, method: :delete %>
<% end %>
