<h1> Here are you favorite Gifs! </h1>
<%= link_to "Sort by Category", :action => "query", :controller => "favorite_gifs" %>
<% @gifs.each do |gif| %>
<%=gif.category.name %>
<%=image_tag(gif.image_path, size: "300x400", id: "image_#{gif.id}") %>
<%= link_to "Unfavorite", unfavorite_path(:gif_id => gif), :confirm => 'Are you sure?', :method => :delete %>
<% end %>
