<h1> Here are all the Categories </h1>
<%= link_to "Add a New Category", new_admin_category_path %>
<ul>
<%@categories.each do |category| %>
<li><%= category.name %></li>
<p><%= link_to "Delete", admin_category_path(category), method: "delete" %></p>
<%end %>
</ul>
