
$color1: hsla(197%, 93%, 29%, 1);
$color2: hsla(187%, 97%, 29%, 1);
$color3: hsla(174%, 100%, 33%, 1);
$color4: hsla(167%, 98%, 39%, 1);
$color5: hsla(63%, 69%, 85%, 1);

$color1: rgba(5, 102, 141, 1);
$color2: rgba(2, 128, 144, 1);
$color3: rgba(0, 168, 150, 1);
$color4: rgba(2, 195, 154, 1);
$color5: rgba(240, 243, 189, 1);
